parameters:
	level: 7
	paths:
		- %currentWorkingDirectory%/src
		- %currentWorkingDirectory%/tests
	ignoreErrors:
		- '#Access to an undefined property object::\$[a-zA-Z0-9_]+\.#'
		- '#Call to protected method hasFrom\(\) of class Tests\\Database\\Manipulation\\Traits\\JoinMock\.#'
		- '#Call to protected method renderFrom\(\) of class Tests\\Database\\Manipulation\\Traits\\JoinMock\.#'
		- '#Call to protected method renderHaving\(\) of class Tests\\Database\\Manipulation\\Traits\\HavingMock\.#'
		- '#Call to protected method renderJoin\(\) of class Tests\\Database\\Manipulation\\Traits\\JoinMock\.#'
		- '#Call to protected method renderOrderBy\(\) of class Tests\\Database\\Manipulation\\Traits\\OrderByMock\.#'
		- '#Call to protected method renderWhere\(\) of class Tests\\Database\\Manipulation\\Traits\\WhereMock\.#'
		- '#Call to protected method sql\(\) of class Framework\\Database\\Definition\\Table\\Columns\\Column\.#'
		- '#Call to protected method sql\(\) of class Framework\\Database\\Definition\\Table\\Indexes\\IndexDefinition\.#'
		- '#Call to protected method sql\(\) of class Framework\\Database\\Definition\\Table\\Indexes\\Index\.#'
		- '#Call to protected method sql\(\) of class Framework\\Database\\Definition\\Table\\TableDefinition\.#'
