name: Tests

on:
  push:
  pull_request:
  schedule:
    - cron: '0 4 * * *'

jobs:
  mariadb:
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: true
      matrix:
        php: ['8.0', '8.1']

    services:
      mariadb:
        image: mariadb
        env:
          MYSQL_DATABASE: framework-tests
          MYSQL_ROOT_PASSWORD: password
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    name: PHP ${{ matrix.php }} - MariaDB

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          ini-values: mysqli.allow_local_infile=On
          tools: composer
          coverage: xdebug

      - name: Install dependencies
        run:
          composer update

      - name: Composer normalize
        run:
          composer normalize --dry-run --indent-size=4 --indent-style=space

      - name: Coding Standard
        run:
          vendor/bin/php-cs-fixer fix --diff --dry-run --verbose

      - name: PHPMD
        run:
          vendor/bin/phpmd src xml phpmd.xml

      - name: PHPStan
        run:
          vendor/bin/phpstan analyse -vvv

      - name: PHPUnit
        env:
          DB_HOST: 127.0.0.1
        run: vendor/bin/phpunit --verbose

      - name: Upload coverage results to Coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mkdir -p build/logs/
          cp build/coverage/clover.xml build/logs/clover.xml
          composer global require php-coveralls/php-coveralls
          php-coveralls --coverage_clover=build/logs/clover.xml -v
        if: matrix.php == '8.0'

  mysql:
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: true
      matrix:
        php: ['8.0', '8.1']

    services:
      mysql:
        image: mysql
        env:
          MYSQL_DATABASE: framework-tests
          MYSQL_ROOT_PASSWORD: password
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    name: PHP ${{ matrix.php }} - MySQL

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          ini-values: mysqli.allow_local_infile=On
          tools: composer
          coverage: xdebug

      - name: Install dependencies
        run:
          composer update

      - name: PHPUnit
        env:
          DB_HOST: 127.0.0.1
          DB_IMAGE: mysql
        run: vendor/bin/phpunit --verbose
